@model LMS.Core.ViewModels.CourseContactsViewModel


<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Kontakter: @Model.Name</h5>
    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
<h3>Lärare</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                Förnamn
            </th>
            <th>
                Efternamn
            </th>
            <th>
                E-Post
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Teachers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
        </tr>
}
    </tbody>
</table>

<br />
<h3>Elever</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                Förnamn
            </th>
            <th>
                Efternamn
            </th>
            <th>
                E-Post
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Students) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
        </tr>
}
    </tbody>
</table>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Stäng</button>
    @*<input type="submit" form="CreateForm" value="Lägg till" class="btn btn-primary" />*@
</div>

<br />


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
