@model CourseViewModel

@{
    ViewData["Title"] = "DetailedView";
}

<div class="container-fluid">
    <div class="row">
        @*Nedan information skall bytas ut mot automatiskt genererad information baserat på tidigare val*@
        <div class="col-2">
            <img src="~/images/workshop.jpg" class="img courseimg" alt="workshop" />
        </div>
        <div class="col-2">
            <h3>
                @Html.DisplayFor(model => model.Name)
            </h3>
            <p>
                @Html.DisplayFor(model => model.Description)
            </p>
        </div>
        <div class="col-1">
            @if (this.User.IsInRole("Teacher"))
            {
                <a href="#" data-bs-toggle="modal" data-bs-target="#editCourse"><img src="~/images/pencil.svg" alt="Edit course" /></a>
            }
        </div>
        <div class="col-1">
            <h5>Deltagare</h5>
            <p class="smalltext12">Antal deltagare: @Model.Students.Count()</p>
        <button data-bs-toggle="modal" data-id="@Model.Id" id="btnListParticipants" data-bs-target="#modalPartial" class="btn btn-lg btn-primary smalltext12 w-100">Se deltagare</button>
        <button data-bs-toggle="modal" data-id="@Model.Id" id="btnAddStudent" data-bs-target="#modalPartial"  class="btn btn-lg btn-primary smalltext12 w-100 mt-1">Lägg till deltagare</button>
        </div>
        <div class="col-1">
            <h5>Uppgifter</h5>
            <p class="smalltext12">Pågående uppgifter: 2</p>
            <button data-bs-toggle="modal" data-bs-target="#seeTasks" class="btn btn-lg btn-primary smalltext12 w-100">Se uppgifter</button>
            <button data-bs-toggle="modal" data-bs-target="#addTasks" class="btn btn-lg btn-primary smalltext12 w-100 mt-1">Skapa uppgift</button>
        </div>
        <div class="col-1">
            <h5>Kursdokument</h5>
            <p class="smalltext12">Antal dokument: @Model.Documents.Count()</p>
        <button data-bs-toggle="modal" data-bs-target="#seeDocuments" class="btn btn-lg btn-primary smalltext12 w-100">Se dokument</button>
        <button data-bs-toggle="modal" data-bs-target="#addDocuments" class="btn btn-lg btn-primary smalltext12 w-100 mt-1">Ladda upp</button>
        </div>
        <div class="col-1">
            <h5>Inlämningar</h5>
            <p class="smalltext12">Antal inlämnade: 4</p>
            <button data-bs-toggle="modal" data-bs-target="#seeTurnedIn" class="btn btn-lg btn-primary smalltext12 w-100">Se inlämnade</button>
            <button data-bs-toggle="modal" data-bs-target="#turnIn" class="btn btn-lg btn-primary smalltext12 w-100 mt-1">Lämna in</button>
        </div>

    </div>
</div>

<div class="container-fluid py-2">
    <br />
    <div class="container-fluid">
    <div class="row">
    <div class="col-4">
    <h3>Moduler</h3>
    </div>
    <div class="col-4 aligncenter">
        <div class="ml-4">

        @if (this.User.IsInRole("Teacher"))
        {
            <button @*data-bs-toggle="modal" id="btnCreateCourse" data-bs-target="#modalPartial"*@ class="btn btn-primary mb-4" data-bs-toggle="collapse" data-bs-target="#collapseAddModule" aria-expanded="false" aria-controls="collapseAddModule">Lägg till modul</button>
            <div class="collapse" id="collapseAddModule">
                <partial name="~/Views/Modules/CreatePartial.cshtml" model="new ModuleViewModel()" />
            </div>
        }
    </div>
    </div>
    </div>
    </div>
                @{
                    int i = 0;
                }
                @foreach (var item in Model.Modules)
                {
                <div class="card rounded-xl border-2">
                <div class="table-responsive">
                <table class="table accordion">
                    <tbody>
                        <tr data-bs-toggle="collapse" data-bs-target="#r_@i">
                            <th scope="row">
                                <i class="icon-arrow-down arrow up mx-2"></i>
                                <i class="icon-arrow-up arrow down mx-2"></i>
                            </th>
                            <td>
                                     <span class="fw-bold">@Html.DisplayFor(modelItem => item.Name) </span><span> | </span>
                                @{
                                    string cSDate = item.StartDate.ToString("d");
                                    string cEDate = item.EndDate.ToString("d");
                                }
                                
                                @Html.DisplayFor(modelItem => cSDate)
                                <span> - </span>
                                @Html.DisplayFor(modelItem => cEDate)
                                <a data-bs-toggle="modal" data-id="@item.Id" id="btnEditModule" data-bs-target="#modalPartial">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="navpurple mx-3" viewBox="0 0 16 16">
                                        <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                                    </svg>
                                    
                                </a> |
                                <a data-bs-toggle="modal" data-id="@item.Id" id="btnDeleteModule" data-bs-target="#modalPartial">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="navpurple mx-3" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                    </svg>
                                </a>
                            </td>
                        </tr>
                        <tr class="collapse accordion-collapse
                            @(DateTime.Now > item.StartDate && DateTime.Now < item.EndDate?"show":"")
                            " id="r_@i" data-bs-parent=".table" data-target=".table">
                            <td></td>
                            <td colspan="4">
                                <span class="fw-bold fst-italic">Beskrivning: </span>@Html.DisplayFor(modelItem => item.Description)

                                <div class="container-fluid">
                                <div class="row">
                                <div class="col-4">
                                <h5 class="mb-2 mt-5">Aktiviteter:</h5>
                                </div>
                                    <div class="col-4">
                                    <button class="btn btn-primary mt-5" data-bs-toggle="collapse" data-bs-target="#collapseAddActivity_@i" aria-expanded="false" aria-controls="collapseAddActivity_@i">Lägg till aktivitet</button>
                                    <div class="collapse" id="collapseAddActivity_@i">
                                        <partial name="~/Views/Activities/CreatePartial.cshtml" model="new ActivitiesViewModel{ModuleId = @item.Id}"/>
                                    </div>
                                </div>
                                </div>
                                </div>

                                @foreach (var activity in item.Activities)
                                {
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="mt-3 col-5">
                                                <div class="sectioncolors d-flex justify-content-between">
                                                    <div>
                                                        @Html.DisplayFor(modelItem => activity.Name)
                                                    </div>
                                                    <div>
                                                        @{
                                                            string sdate = activity.StartDate.ToString("d");
                                                            string edate = activity.EndDate.ToString("d");
                                                        }
                                                        @Html.DisplayFor(modelItem => sdate)
                                                        <span> - </span>
                                                        @Html.DisplayFor(modelItem => edate)
                                                    </div>
                                                    <div>
                                                        <a data-bs-toggle="modal" data-id="@activity.Id" id="btnEditActivity" data-bs-target="#modalPartial">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="mx-2 navpurple" viewBox="0 0 16 16">
                                                                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                                                            </svg>
                                                        </a> |
                                                        <a data-bs-toggle="modal" data-id="@activity.Id" id="btnDeleteActivity" data-bs-target="#modalPartial">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="mx-2 navpurple" viewBox="0 0 16 16">
                                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                                            </svg>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div>
                                                    <span class="fw-bold fst-italic">Beskrivning: </span>
                                                    @Html.DisplayFor(modelItem => activity.Description)
                                                </div>
                                            </div>
                                            <div class="mt-3 col-1"></div>
                                            <div class="mt-3 col-3">
                                                <span class="largetext20">Aktivitetsdokument </span>
                                                <button data-bs-toggle="modal" data-bs-target="#addDocuments" class="btn btn-lg btn-primary smalltext12 w-30 mt-1 mx-4">Ladda upp</button>
                                            </div>
                                            <div class="mt-3 col-3">
                                                <span class="largetext20">Inlämnade dokument </span>
                                                <button data-bs-toggle="modal" data-bs-target="#turnIn" class="btn btn-lg btn-primary smalltext12 w-30 mt-1 mx-4">Lämna in</button>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br />
        i++;
    }
</div>

<!-- Modals -->
<!-- Editera kurs -->
<div class="modal fade" id="editCourse" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <partial name="EditPartial" />
</div>

<!-- Se deltagare -->
<div class="modal fade" id="seeStudents" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Se deltagare</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Hello
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        @*<button type="button" class="btn btn-primary">Save changes</button>*@
      </div>
    </div>
  </div>
</div>

    <!-- Lägg till deltagare -->
    <div class="modal fade" id="addStudents" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Lägg till deltagare</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Hello
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Lägg till</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Se uppgifter -->
    <div class="modal fade" id="seeTasks" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Se uppgifter</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Hello
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Stäng</button>
                    @*<button type="button" class="btn btn-primary">Save changes</button>*@
                </div>
            </div>
        </div>
    </div>

    <!-- Skapa uppgift -->
    <div class="modal fade" id="addTasks" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Skapa uppgift</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Hello
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Stäng</button>
                    <button type="button" class="btn btn-primary">Skapa</button>
                </div>
            </div>
        </div>
    </div>

<!-- Se dokument -->
<div class="modal fade" id="seeDocuments" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Kursdokument</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
            @foreach (var document in Model.Documents) {
                <filehelper document="@document" ></filehelper>
            }
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Stäng</button>
      </div>
    </div>
  </div>
</div>

<!-- Ladda upp dokument -->
<div class="modal fade" id="addDocuments" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
@*    
    @{
        var Model.DocumentVM = new DocumentViewModel();
        Model.DocumentViewModel.ParentId = Model.Id;
    }
   <partial name="UploadModalPartial" model="@Model.DocumentViewModel" /> 

*@   
    <partial name="UploadModalPartial" />
</div>

    <!-- Se inlämnade -->
    <div class="modal fade" id="seeTurnedIn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Se inlämnad</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Hello
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Stäng</button>
                    @*<button type="button" class="btn btn-primary">Save changes</button>*@
                </div>
            </div>
        </div>
    </div>

    <!-- Lämna in -->
    <div class="modal fade" id="turnIn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Lämna in</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Hello
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Stäng</button>
                    <button type="button" class="btn btn-primary">Lämna in</button>
                </div>
            </div>
        </div>
    </div>

@section scripts{
<script>

$(function () {
        $("body").on('click', '#btnListParticipants', function () {
            var id = $(this).attr('data-id');
 
        $.ajax({
            data: { id },
            url: '../ContactsPartial',
            
            success: function (response) {
                $("#ModalContent").html(response);
                $("#modalPartial").modal("show");
            }
        });
    });
});

$(function () {
        $("body").on('click', '#btnAddStudent', function () {
            var id = $(this).attr('data-id');
 
        $.ajax({
            data: { id },
            url: '../AddStudentsPartial',
            
            success: function (response) {
                $("#ModalContent").html(response);
                $("#modalPartial").modal("show");
            }
        });
    });
});

$(function () {
        $("body").on('click', '#btnEditModule', function () {
            var id = $(this).attr('data-id');
 
        $.ajax({
            data: { id },
            url: '../../Modules/Edit',
            
            success: function (response) {
                $("#ModalContent").html(response);
                $("#modalPartial").modal("show");
            }
        });
    });
});

$(function () {
        $("body").on('click', '#btnDeleteModule', function () {
            var id = $(this).attr('data-id');
 
        $.ajax({
            data: { id },
            url: '../../Modules/DeletePartial',
            
            success: function (response) {
                $("#ModalContent").html(response);
                $("#modalPartial").modal("show");
            }
        });
    });
});

$(function () {
        $("body").on('click', '#btnEditActivity', function () {
            var id = $(this).attr('data-id');
 
        $.ajax({
            data: { id },
            url: '../../Activities/EditPartial',
            
            success: function (response) {
                $("#ModalContent").html(response);
                $("#modalPartial").modal("show");
            }
        });
    });
});

$(function () {
        $("body").on('click', '#btnDeleteActivity', function () {
            var id = $(this).attr('data-id');
 
        $.ajax({
            data: { id },
            url: '../../Activities/DeletePartial',
            
            success: function (response) {
                $("#ModalContent").html(response);
                $("#modalPartial").modal("show");
            }
        });
    });
});


</script>



}


