@model IEnumerable<MainCourseIndexViewModel>

<h1>Kurser</h1>

<p>
    <a asp-action="Create" class="btn btn-primary btn-sm">Lägg till kurs</a><br />
    <button data-bs-toggle="modal" id="btnCreateCourse" data-bs-target="#modalPartial" class="btn btn-sm btn-primary smalltext12">Lägg till kurs</button>


    <a asp-controller="Courses" asp-action="DetailedView">Kursmodul ADMIN</a>@*endast länk för framtagande av modulen*@
</p>


<div class="container-fluid py-2">
    <div class="table-responsive">
        <table class="table accordion">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Kurs</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 0;
                }
                @foreach (var item in Model)
                {
                    <tr >
                        <th scope="row">
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Öppna</a> 
                            <i class="bi bi-chevron-down"></i>
                        </th>
                        <td data-bs-toggle="collapse" data-bs-target="#r_@i">@Html.DisplayFor(modelItem => item.Name)</td>
                        <td data-bs-toggle="collapse" data-bs-target="#r_@i"></td>
                        <td data-bs-toggle="collapse" data-bs-target="#r_@i"></td>
                        <td data-bs-toggle="collapse" data-bs-target="#r_@i">

                            @{
                                string cSDate = item.StartDate.ToString("d");
                                string cEDate = item.EndDate.ToString("d");
                            }
                            @Html.DisplayFor(modelItem => cSDate)
                            <span> - </span>
                            @Html.DisplayFor(modelItem => cEDate)
                        </td>
                    </tr>
                    <tr class="collapse accordion-collapse 
                            @(DateTime.Now > item.StartDate && DateTime.Now < item.EndDate?"show":"")
                            " id="r_@i" data-bs-parent=".table" data-target=".table">
                        <td></td>
                        <td colspan="4">
                            @Html.DisplayFor(modelItem => item.Description)
                            <br>
                            <strong>Moduler:</strong><br>
                            @foreach (var modul in item.Modules)
                            {
                                <div>
                                    <div class="bg-light d-flex justify-content-between">
                                        <div>
                                            @Html.DisplayFor(modelItem => modul.Name)
                                        </div>
                                        <div>
                                            @{
                                                string sdate = modul.StartDate.ToString("d");
                                                string edate = modul.EndDate.ToString("d");
                                            }
                                            @Html.DisplayFor(modelItem => sdate)
                                            <span> - </span>
                                            @Html.DisplayFor(modelItem => edate)
                                        </div>
                                    </div>
                                    <div>
                                        @Html.DisplayFor(modelItem => modul.Description)
                                    </div>
                                </div>
                            }
                        </td>
                    </tr>   
                    i++;
                }
            </tbody>
        </table>
    </div>
</div>



@section scripts{
<script>

$(function () {
        $("body").on('click', '#btnCreateCourse', function () {
        //$("#myModel").modal("hide");
        //var id = $(this).attr('data-id');
 
        $.ajax({
            url: 'Courses/CreatePartial',
            //data: { id },
            success: function (response) {
                $("#ModalContent").html(response);
                $("#modalPartial").modal("show");
            }
        });
    });
});
</script>
}