@model IEnumerable<MainCourseIndexViewModel>

<h1>Kurser</h1>

<p>
    <a asp-action="Create" class="btn btn-primary btn-sm">Lägg till kurs</a><br />
    <button data-bs-toggle="modal" id="btnCreateCourse" data-bs-target="#addCourse" class="btn btn-sm btn-primary smalltext12">Lägg till kurs</button>


    <a asp-controller="Courses" asp-action="DetailedView">Kursmodul ADMIN</a>@*endast länk för framtagande av modulen*@
</p>


<div class="container-fluid shadow w-75 py-2">
    <div class="table-responsive">
        <table class="table accordion">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Kurs</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 0;
                }
                @foreach (var item in Model)
                {
                    <tr >
                        <th scope="row">
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Öppna</a> 
                            <i class="bi bi-chevron-down"></i>
                        </th>
                        <td data-bs-toggle="collapse" data-bs-target="#r_@i">@Html.DisplayFor(modelItem => item.Name)</td>
                        <td data-bs-toggle="collapse" data-bs-target="#r_@i"></td>
                        <td data-bs-toggle="collapse" data-bs-target="#r_@i"></td>
                        <td data-bs-toggle="collapse" data-bs-target="#r_@i">@Html.DisplayFor(modelItem => item.StartDate)</td>
                    </tr>
                    <tr class="collapse accordion-collapse 
                            @(DateTime.Now > item.StartDate && DateTime.Now < item.EndDate?"show":"")
                            " id="r_@i" data-bs-parent=".table" data-target=".table">
                        <td></td>
                        <td colspan="4">
                            @Html.DisplayFor(modelItem => item.Description)
                            <br>
                            <strong>Moduler:</strong><br>
                            @foreach (var modul in item.Modules)
                            {
                                <div>
                                    <div class="bg-light d-flex justify-content-between">
                                        <div>
                                            @Html.DisplayFor(modelItem => modul.Name)
                                        </div>
                                        <div>
                                            @{
                                                string sdate = modul.StartDate.ToString("d");
                                                string edate = modul.EndDate.ToString("d");
                                            }
                                            @Html.DisplayFor(modelItem => sdate)
                                            <span> - </span>
                                            @Html.DisplayFor(modelItem => edate)
                                        </div>
                                    </div>
                                    <div>
                                        @Html.DisplayFor(modelItem => modul.Description)
                                    </div>
                                </div>
                            }
                        </td>
                    </tr>   
                    i++;
                }
            </tbody>
        </table>
    </div>
</div>





<!-- Lägg till deltagare -->
<div class="modal fade" id="addCourse" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Lägg till deltagare</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="ModalBody">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Lägg till</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
<script>

$(function () {
        $("body").on('click', '#btnCreateCourse', function () {
        //$("#myModel").modal("hide");
        console.log("Har den startat?");
        //var id = $(this).attr('data-id');
 
        $.ajax({
            url: 'Courses/CreatePartial',
            //data: { id },
            success: function (response) {
                $("#ModalBody").html(response);
                $("#addCourse").modal("show");
            }
        });
    });
});
</script>
}