@model IEnumerable<MainCourseIndexViewModel>



<p>
    
</p>

<div class="container-fluid">
<div class="row">
<div class="col-4">
    <h1>Kurser</h1>
</div>
<div class="col-4 aligncenter">
    <button data-bs-toggle="modal" id="btnCreateCourse" data-bs-target="#modalPartial" class="btn btn-primary">Lägg till kurs</button>
</div>
</div>
</div>


<div class="container-fluid py-2">
    <div class="table-responsive">
        <table class="table accordion">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Kursnamn</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 0;
                }
                @foreach (var item in Model)
                {
                    <tr >
                        <th scope="row">
                            <a asp-action="DetailedView" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Öppna</a> 
                            <i class="bi bi-chevron-down"></i>
                        </th>
                        <td data-bs-toggle="collapse" data-bs-target="#r_@i">@Html.DisplayFor(modelItem => item.Name)</td>
                        <td data-bs-toggle="collapse" data-bs-target="#r_@i"></td>
                        <td data-bs-toggle="collapse" data-bs-target="#r_@i"></td>
                        <td data-bs-toggle="collapse" data-bs-target="#r_@i">

                            @{
                                string cSDate = item.StartDate.ToString("d");
                                string cEDate = item.EndDate.ToString("d");
                            }
                            @Html.DisplayFor(modelItem => cSDate)
                            <span> - </span>
                            @Html.DisplayFor(modelItem => cEDate)
                        </td>
                        <th scope="row">
                        <!--<a asp-action="Delete" asp-route-id="@item.Id" class="bi bi-trash">-->
                        <a href="#" id="btnDeleteCourse" data-id="@item.Id" class="bi bi-trash">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash navpurple" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg></a>
                        </th>
                    </tr>
                    <tr class="collapse accordion-collapse 
                            @(DateTime.Now > item.StartDate && DateTime.Now < item.EndDate?"show":"")
                            " id="r_@i" data-bs-parent=".table" data-target=".table">
                        <td></td>
                        <td colspan="4">
                            <span class="fw-bold fst-italic">Beskrivning: </span>@Html.DisplayFor(modelItem => item.Description)
                            <br>
                            <span class="fw-bold">Moduler:</span><br>
                            @foreach (var modul in item.Modules)
                            {
                                <div>
                                    <div class="sectioncolors d-flex justify-content-between">
                                        <div>
                                            @Html.DisplayFor(modelItem => modul.Name)
                                        </div>
                                        <div>
                                            @{
                                                string sdate = modul.StartDate.ToString("d");
                                                string edate = modul.EndDate.ToString("d");
                                            }
                                            @Html.DisplayFor(modelItem => sdate)
                                            <span> - </span>
                                            @Html.DisplayFor(modelItem => edate)
                                        </div>
                                    </div>
                                    <div>
                                        <span class="fw-bold fst-italic">Beskrivning: </span>@Html.DisplayFor(modelItem => modul.Description)
                                    </div>
                                </div>
                            }
                        </td>
                    </tr>   
                    i++;
                }
            </tbody>
        </table>
    </div>
</div>



@section scripts{
<script>

$(function () {
        $("body").on('click', '#btnCreateCourse', function () {
        //$("#myModel").modal("hide");
        //var id = $(this).attr('data-id');
 
        $.ajax({
            url: 'Courses/CreatePartial',
            //data: { id },
            success: function (response) {
                $("#ModalContent").html(response);
                $("#modalPartial").modal("show");
            }
        });
    });
});
</script>

    <script>

        $(function () {
            $("body").on('click', '#btnDeleteCourse', function () {
                //$("#myModel").modal("hide");
                var id = $(this).attr('data-id');

                $.ajax({
                    url: 'Courses/DeletePartial',
                    data: { id },
                    success: function (response) {
                        $("#ModalContent").html(response);
                        $("#modalPartial").modal("show");
                    }
                });
            });
        });
    </script>
}