@model LMS.Core.Entities.TeacherUser

@{
    ViewData["Title"] = "Delete";
}

<h1>Ta bort</h1>

<h5>Vänligen bekräfta att du vill ta bort följande användare:</h5>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-1">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-11">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-1">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-11">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-1">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-11">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Ta bort" class="btn btn-danger my-3" />
        <a asp-action="Index" class="btn btn-secondary my-3 mx-3">Tillbaka</a>
    </form>
</div>
