@model IEnumerable<ContactsViewModel>

@{
    ViewData["Title"] = "Index";
}

<h3 class="mt-3">Lärare</h3>
<a class="btn btn-primary" asp-action="Create">Skapa ny lärare</a>

<table class="table">
    <thead>
        <tr>
            <th>
                Förnamn
            </th>
            <th>
                Efternamn
            </th>
            <th>
                E-Post
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
                        <td>
                <a asp-action="Edit" asp-route-id="@item">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

